@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
@import "reset.css";
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dongle-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@mixin customTextShadow($thickness, $color) {
    text-shadow: 
      calc(#{$thickness} * 1) 0 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      0 calc(#{$thickness} * 1) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * -1) 0 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      0 calc(#{$thickness} * -1) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(5px * 1) 8px 5px rgba(0, 0, 0, 0.8); 
  }

.canvas{
    background-image: url(../../public/diary_write_draw.png);
    background-size: 100% 100%;
    width: 100%;
    height: 30dvh;
    z-index: -99;
}
.diaryDraw_form_content {
    display: flex;
    flex-direction: column;
    font-family: 'Dongle-Regular';
    .draw_add_1,
    .draw_add_2,
    .draw_add_3,
    .draw_pen,
    .draw_pen2 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1dvh;
  
      input[type="text"] {
        margin-right: 5px; // 텍스트 입력란 사이에 간격 추가
      }
    }
    button,
    input[type="color"],
    input[type="range"],
    input[type="text"],
    input[type=file]::file-selector-button,
    input[type="file"] {
      margin: 0 5px; // 버튼, 컬러 입력, 레인지 입력 요소 사이에 간격 추가
      font-size: 2.2dvh;
      font-family: 'Dongle-Regular';
      border: solid 1px #F39FD1;
      //@include customTextShadow(1px, #ffe3e3); 
      height: 3.8dvh;
      line-height: 1.5dvh;
      background-image: linear-gradient(to bottom, #fff, #f1f1f1 , #d0d0d0 );
      &:hover {
        background: rgb(255, 235, 235);
        color: #ff8181;
      }
    }
    input[type="color"]{
      width: 20%;
      padding: 0.7%;
    }
    button{
      width: 40%;
    }
    .darw_start, .draw_finish{
      width: 96%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

  //range 커스텀
  input[type=range] {
    -webkit-appearance: none; /* 기본슬라이드 숨기기*/
    width: 100%; /* Firefox에서는 특정한 넓이가 필요*/
    background: transparent; /* Chrome에서 투명하게 출력 */
    border: none;
    padding: 0;
  }

/*webkit (Chrome)의 경우*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.3dvh;
  cursor: pointer;
  box-shadow: inset 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #ffd8de, #fbadb6, #feeef0 , #fff );
}
input[type=range]::-webkit-slider-thumb {
  height: 2.6dvh;
  width: 2dvh;
  border: 3px solid rgb(255, 186, 186);
  border-radius: 10%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5dvh; /*chrome의 경우 margin-top값을 부여해야합니다.*/
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffdbdb; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}
/*Firefox의 경우*/
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: inset 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #ffd8de, #fbadb6, #feeef0 , #fff );
}
input[type=range]::-moz-range-thumb {
  height: 2dvh;
  width: 15px;
  border: 3px solid rgb(255, 186, 186);
  border-radius: 10%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}




  //파일선택 커스텀
  input[type=file]::file-selector-button {
    width: 150px;
    font-family: "Dongle-Regular";
    cursor: pointer;
  }
  }