
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
@import "reset.css";
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dongle-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@mixin customTextShadow($thickness, $color) {
    text-shadow: 
      calc(#{$thickness} * 1) 0 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      0 calc(#{$thickness} * 1) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * -1) 0 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      0 calc(#{$thickness} * -1) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(5px * 1) 8px 5px rgba(0, 0, 0, 0.8); 
  }

//
.diaryCreate{
    height: 100dvh;
    width: 100%;
    position: relative;
}
.inner_navbar{
    display: none;
}
.diaryCreate_formbox{
    height: 100dvh;
    width: 100%;
    padding-bottom: 200px;
}
.diaryCreate_formbox_content{
    font-family: 'Dongle-Regular';
}

//모바일 세로
@media screen and (min-width: 280px){
    .moblie_menu{
        //background-color: antiquewhite;
        width: 2dvw;

    }
    .diaryCreate_formbox{
        font-size: 16px;
        line-height: normal;
        color: #1e1e1e;
        background-image: url('../../public/mobile_background.png');
        background-repeat : no-repeat; /*가로 세로 */
        background-size : 100% 100%;
        padding:10dvh 9.5% 0 0%; //시계방향 상 우 하 좌
        box-sizing: border-box; /* 내부 패딩과 테두리를 요소의 크기에 포함시킵니다 */
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .diaryCreate_inner_formbox{
        display:flex;
        flex-direction: column;
        height: 83dvh;
        width: 70dvw;
        &    .inner_title{
            width: auto;
            display: flex;
            position: relative;
            margin-bottom: 15.2dvh;
        }
        &    .title{
            font-family: 'Dongle-Regular';
            align-self: stretch;
            color: #686868;
            font-size: 5.7dvh;
            letter-spacing: 0;
            flex: 1; /* 텍스트가 왼쪽에 배치되도록 확장됩니다. */
            position: absolute; /* 절대 포지션으로 설정하여 다른 요소에 대해 상대적으로 배치됩니다. */
            line-height: 6.5dvh;
            @include customTextShadow(5px, #ffffff); // thickness와 color를 여기서 조절합니다.
        }
    }

    .diaryCreate_formbox_content{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        margin-top: 6dvh;
        font-size: 2.5dvh;
    }
    label{
        text-decoration: underline;
        text-shadow: 3px 4px 4.2px #00000040, 2px 1px 0px #ffffff;
        letter-spacing: 0;
        font-size: 2.4dvh;
        display: block;
        font-family: 'Cuprum';
        margin-bottom: 0.1em;
    }
    .diaryCreate_sub{
        @include customTextShadow(1px, #fdddee); // thickness와 color를 여기서 조절합니다.
        font-size: 2.3dvh;
        margin-top: 0.5dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        letter-spacing: 0px;
        line-height: 2.9dvh;
    }
    //슬라이드메뉴
}
    .diaryCreate_submit_button{
        border-width: 0;
        width: 32dvw;
        height: 8dvh;
        border-radius: 25px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(to top, #ffd8de, #fbadb6, #feeef0 , #fff );
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -1.2px 0px #a4a4a4, 0px 1.2px #a4a4a4, 1.2px 0px #a4a4a4, 0px -1.2px #a4a4a4;
        font-family: 'DOSSaemmul';
        font-size: 1.7dvh;
        color: #fff;
        margin-top: auto; /* 마지막 요소를 가장 하단에 배치합니다. */
        margin-left: auto; /* 마지막 요소를 가장 오른쪽에 배치합니다. */
    }
    input{
        margin-bottom: 1dvh;
        color: #696969;
        width: 100%;
        box-sizing: border-box;
        font-size: 2.7dvh;
        font-weight: 300;
        height: 4dvh;
        border: solid 1px #000;
        background-image: linear-gradient(to bottom, #fff, #f1f1f1, #dadada, #d0d0d0);
    }
    //셀렉트 박스
    .btn-select{
        background: none;
        border: 1px solid black; 
        margin-bottom: 0.3dvh;
        cursor: pointer;
        font-size: 2.4dvh;
        font-family: 'Dongle-Regular';
    }
    .list-member{
        border: 0.5px solid rgb(184, 184, 184);
        border-radius: 10px;

    }
    .list-member button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2.4dvh;
        font-family: 'Dongle-Regular';;
    }
    .btn-select:hover,
    .btn-select:focus {
        border: 1px solid #fdddee;
        border-radius: 10px;
        outline: 3px solid #fff0f8;
    }

//아이패드 미니 세로~
@media screen and (min-width: 768px) and (max-width: 819px){
    .inner_title{
        width: 48dvw;
        margin-bottom: 3dvh;
    }
    .title{
        font-size: 5.9dvh;
        line-height: 6dvh;
    }
    .diaryCreate_pinkBubble{
        width: 9rem;
        height: 7rem;
        margin-left: 16dvw;
    }
    label{
        font-size: 1.7rem;
    }
    input{
        height: 2.3rem;
        font-size: 3dvh;
    }
    .diaryCreate_submit_button{
        font-size: 1.5rem;
    }
    .diaryCreate_sub{
        font-size: 2.6dvh;
    }
}
//아이패드에어 ~아이패드프로 세로
@media screen and (min-width: 820px) and (max-width: 1024px){
    .inner_title{
        width: 48dvw;
        margin-bottom: 4.5dvh;
    }
    .title{
        font-size: 6.5dvh;
        line-height:7dvh;
    }
    .diaryCreate_pinkBubble{
        width: 12rem;
        height: 10rem;
        margin-left: 18dvw;
    }
    label{
        font-size: 2.8dvh;
    }
    input{
        height: 3.6dvh;
        font-size: 3.1dvh;
    }
    .diaryCreate_submit_button{
        width: 15rem;
        height: 8dvh;
        font-size: 1.6rem;
    }
    .diaryCreate_sub{
        font-size: 2.7dvh;
    }
}

//아이패드 & 모바일 가로&PC
@media screen and (min-width: 1025px), (orientation: landscape) {
    .moblie_menu{
        display: none;
    }

	.diaryCreate_formbox{
        background-image: url('../../public/pc_background.png');
        background-repeat : no-repeat; /*가로 세로 */
        background-size : 100% 100%;
        padding:19dvh 0 10dvh 33dvw; //시계방향 상 우 하 좌
    }
    .inner_navbar{
        display: block;
        position: absolute;
        top: 21dvh; /* 상단에 위치하도록 설정 */
        left: 4dvw; /* 왼쪽에 위치하도록 설정 */
        z-index: 1; /* 다른 요소 위에 표시되도록 z-index 값 설정 */
    }
    .diaryCreate_inner_formbox{
        height: 73dvh;
        width: 62dvw;
    }
    .inner_title{
        width: 27dvw;
        margin-bottom: -3rem;
    }
    .title{
        font-size: 3.7dvw;
        line-height: 4.3dvw;
    }
    label{
        font-size: 2.8dvh;
    }
    .diaryCreate_pinkBubble{
        width: 11dvw;
        height: 9dvw;
        margin-top: 1.5dvh;
        margin-left: 7dvw;
    }
    .diaryCreate_formbox_content{
        width: 40%;
        height: 70%;
        margin-left: 19dvw;
        z-index: 1;
        margin-bottom: -10rem;
        
    }
    .diaryCreate_submit_button{
        width: 14dvw;
        height: 10dvh;
        font-size: 2.3dvh;
        z-index: 2;
    }
    input{
        font-size: 1.9dvw;
        height: 3.8dvh;
    }
}
