
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
@import "reset.css";
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin customTextShadow($thickness, $color) {
    text-shadow: 
      calc(#{$thickness} * 1) 0 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      0 calc(#{$thickness} * 1) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * -1) 0 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      0 calc(#{$thickness} * -1) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * -0.3827) 0 $color;
  }

.navbar{
    width: 100%;
    height: 100%;
    font-family: 'DOSSaemmul';
    background-color: bisque;

        .navbar_content{
            display:flex;
            flex-direction: column;
            width: 300px;
            height: 500px;
            background-color: aquamarine;
        }
}

.navbar_title{
    color: white;
    font-size: 1.8rem;
    letter-spacing: 0;
    flex: 1; /* 텍스트가 왼쪽에 배치되도록 확장됩니다. */
    position: absolute; /* 절대 포지션으로 설정하여 다른 요소에 대해 상대적으로 배치됩니다. */
    line-height: 34px;

    @include customTextShadow(5px, #5a5a5a); // thickness와 color를 여기서 조절합니다.

    flex:1;
}
.navbar_sub{
    text-shadow: calc(3px * 1) 0 0 #fdddee,
    calc(3px * 0.9239) calc(3px * 0.3827) 0 #fdddee,
    calc(3px * 0.7071) calc(3px * 0.7071) 0 #fdddee,
    calc(3px * 0.3827) calc(3px * 0.9239) 0 #fdddee,
    0 calc(3px * 1) 0 #fdddee,
    calc(3px * -0.3827) calc(3px * 0.9239) 0 #fdddee,
    calc(3px * -0.7071) calc(3px * 0.7071) 0 #fdddee,
    calc(3px * -0.9239) calc(3px * 0.3827) 0 #fdddee,
    calc(3px * -1) 0 0 #fdddee,
    calc(3px * -0.9239) calc(3px * -0.3827) 0 #fdddee,
    calc(3px * -0.7071) calc(3px * -0.7071) 0 #fdddee,
    calc(3px * -0.3827) calc(3px * -0.9239) 0 #fdddee,
    0 calc(3px * -1) 0 #fdddee,
    calc(3px * 0.3827) calc(3px * -0.9239) 0 #fdddee,
    calc(3px * 0.7071) calc(3px * -0.7071) 0 #fdddee,
    calc(3px * 0.9239) calc(3px * -0.3827) 0 #fdddee,
    calc(5px * 1) 8px 5px rgba(0, 0, 0, 0.8); 
}
.navbar_menu{
    color: white;
    font-size: 1rem;
    letter-spacing: 0;
    flex: 1; /* 텍스트가 왼쪽에 배치되도록 확장됩니다. */
    position: absolute; /* 절대 포지션으로 설정하여 다른 요소에 대해 상대적으로 배치됩니다. */
    line-height: 34px;
    @include customTextShadow(2px, #5a5a5a); // thickness와 color를 여기서 조절합니다.
}