@import "reset.css";
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Dongle-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@mixin customTextShadow($thickness, $color) {
    text-shadow: 
      calc(#{$thickness} * 1) 0 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      0 calc(#{$thickness} * 1) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * 0.9239) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * 0.7071) 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * 0.3827) 0 $color,
      calc(#{$thickness} * -1) 0 0 $color,
      calc(#{$thickness} * -0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(#{$thickness} * -0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * -0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      0 calc(#{$thickness} * -1) 0 $color,
      calc(#{$thickness} * 0.3827) calc(#{$thickness} * -0.9239) 0 $color,
      calc(#{$thickness} * 0.7071) calc(#{$thickness} * -0.7071) 0 $color,
      calc(#{$thickness} * 0.9239) calc(#{$thickness} * -0.3827) 0 $color,
      calc(5px * 1) 8px 5px rgba(0, 0, 0, 0.8); 
  }

  //
  .inner_navbar{
    display: none;
  }
  .registerComplete{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/mobile_registerComplete.png');
    background-repeat : no-repeat; 
    background-size : 100% 100%;
    font-family: 'Dongle-Regular';
    font-weight: 400;
    position: relative; 
  }
  .registerComplete_box{
    position: absolute; 
    top: 33vh; /* 부모 요소의 상단에 배치합니다. */
    right: 0; /* 부모 요소의 오른쪽 끝에 배치합니다. */
    display:flex;
    flex-direction: column;
    height: 50vh;
    width: 80vw;
    //background-color: antiquewhite;
  }
.complete_message{
    background-image: url('../../public/letter_complete.png');
    background-repeat : no-repeat; 
    background-size : 100% 100%;
    width: auto;
    height: 26vh;
    padding-left:23vw;
    padding-top: 7vh;
    line-height: 30px;
    font-size:3.7vh;
    color: #DA98B4;
    @include customTextShadow(5px, #F8F8F8); // thickness와 color를 여기서 조절합니다.
}
.complete_message_text{
  transform: rotate(-358.07deg);
}
.complete_toLogin{
  position: absolute;
  @include customTextShadow(2px, #fdddee); 
  color: #464646;
  font-size: 1.8rem;
  bottom:0;
  text-decoration: none;
}
//모바일 세로~
@media screen and (min-width: 375px){
}
//아이패드 미니 세로~
//아이패드에어 ~아이패드프로 세로
@media screen and (min-width: 768px) and (max-width: 1024px){
  .registerComplete_box{
    top: 23vh;
    height: 60vh;
    width: 63vw;
  }
  .complete_message{
    height: 35vh;
    padding-left:18vw;
    padding-top: 10vh;
    line-height: 40px;
    font-size:3.7vh;
  }
.complete_toLogin{
  font-size: 2rem;
}
}

//아이패드 & 모바일 가로&PC
@media screen and (min-width: 1025px), (orientation: landscape) {
  .registerComplete{
    background-image: url('../../public/pc_registerComplete.png');
  }
  .registerComplete_box{
    top: 33vh; /* 부모 요소의 상단에 배치합니다. */
    height: 53vh;
    width:55vw;
    overflow: hidden; /* 자식이 부모 넘지 않도록 ->스크롤 막기 */
    padding-left: 0;
  }
.complete_message{
    height: 44vh;
    right: 0;
    padding-left:9vw;
    padding-top: 11vh;
    line-height: 5vh;
    font-size:3.7vh;
    width: 22vw;
    position: absolute;
}
.complete_toLogin{
  font-size: 2rem;
  display: block; /* 작은 화면에서 보이도록 표시합니다. */
}
}
