@charset "UTF-8";
@import "reset.css";
@font-face {
  font-family: "DOSSaemmul";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dongle-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.inner_navbar {
  display: none;
}

.registerComplete {
  width: 100%;
  height: 100dvh;
  background-image: url("../../public/mobile_registerComplete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Dongle-Regular";
  font-weight: 400;
  position: relative;
}

.registerComplete_box {
  position: absolute;
  top: 33dvh; /* 부모 요소의 상단에 배치합니다. */
  right: 0; /* 부모 요소의 오른쪽 끝에 배치합니다. */
  display: flex;
  flex-direction: column;
  height: 50dvh;
  width: 80dvw;
}

.complete_message {
  background-image: url("../../public/letter_complete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: auto;
  height: 26dvh;
  padding-left: 23dvw;
  padding-top: 7dvh;
  line-height: 30px;
  font-size: 3.7dvh;
  color: #DA98B4;
  text-shadow: calc(5px * 1) 0 0 #F8F8F8, calc(5px * 0.9239) calc(5px * 0.3827) 0 #F8F8F8, calc(5px * 0.7071) calc(5px * 0.7071) 0 #F8F8F8, calc(5px * 0.3827) calc(5px * 0.9239) 0 #F8F8F8, 0 calc(5px * 1) 0 #F8F8F8, calc(5px * -0.3827) calc(5px * 0.9239) 0 #F8F8F8, calc(5px * -0.7071) calc(5px * 0.7071) 0 #F8F8F8, calc(5px * -0.9239) calc(5px * 0.3827) 0 #F8F8F8, calc(5px * -1) 0 0 #F8F8F8, calc(5px * -0.9239) calc(5px * -0.3827) 0 #F8F8F8, calc(5px * -0.7071) calc(5px * -0.7071) 0 #F8F8F8, calc(5px * -0.3827) calc(5px * -0.9239) 0 #F8F8F8, 0 calc(5px * -1) 0 #F8F8F8, calc(5px * 0.3827) calc(5px * -0.9239) 0 #F8F8F8, calc(5px * 0.7071) calc(5px * -0.7071) 0 #F8F8F8, calc(5px * 0.9239) calc(5px * -0.3827) 0 #F8F8F8, 5px 8px 5px rgba(0, 0, 0, 0.8);
}

.complete_message_text {
  transform: rotate(-358.07deg);
}

.complete_toLogin {
  position: absolute;
  text-shadow: calc(2px * 1) 0 0 #fdddee, calc(2px * 0.9239) calc(2px * 0.3827) 0 #fdddee, calc(2px * 0.7071) calc(2px * 0.7071) 0 #fdddee, calc(2px * 0.3827) calc(2px * 0.9239) 0 #fdddee, 0 calc(2px * 1) 0 #fdddee, calc(2px * -0.3827) calc(2px * 0.9239) 0 #fdddee, calc(2px * -0.7071) calc(2px * 0.7071) 0 #fdddee, calc(2px * -0.9239) calc(2px * 0.3827) 0 #fdddee, calc(2px * -1) 0 0 #fdddee, calc(2px * -0.9239) calc(2px * -0.3827) 0 #fdddee, calc(2px * -0.7071) calc(2px * -0.7071) 0 #fdddee, calc(2px * -0.3827) calc(2px * -0.9239) 0 #fdddee, 0 calc(2px * -1) 0 #fdddee, calc(2px * 0.3827) calc(2px * -0.9239) 0 #fdddee, calc(2px * 0.7071) calc(2px * -0.7071) 0 #fdddee, calc(2px * 0.9239) calc(2px * -0.3827) 0 #fdddee, 5px 8px 5px rgba(0, 0, 0, 0.8);
  color: #464646;
  font-size: 1.8rem;
  bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #464646;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .registerComplete_box {
    top: 23dvh;
    height: 60dvh;
    width: 63dvw;
  }
  .complete_message {
    height: 35dvh;
    padding-left: 18dvw;
    padding-top: 10dvh;
    line-height: 40px;
    font-size: 3.7dvh;
  }
  .complete_toLogin {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1025px), (orientation: landscape) {
  .registerComplete {
    background-image: url("../../public/pc_registerComplete.png");
  }
  .registerComplete_box {
    top: 33dvh; /* 부모 요소의 상단에 배치합니다. */
    height: 53dvh;
    width: 55dvw;
    overflow: hidden; /* 자식이 부모 넘지 않도록 ->스크롤 막기 */
    padding-left: 0;
  }
  .complete_message {
    height: 44dvh;
    right: 0;
    padding-left: 9dvw;
    padding-top: 11dvh;
    line-height: 5dvh;
    font-size: 3.7dvh;
    width: 22dvw;
    position: absolute;
  }
  .complete_toLogin {
    font-size: 2rem;
    display: block; /* 작은 화면에서 보이도록 표시합니다. */
  }
}/*# sourceMappingURL=register_complete.css.map */