    //메뉴
    #sidebar{
        z-index: 5;  
        padding: 12px;  
        border-radius: 15px 0 0 15px;  
        background-color: #e7e4e1;  
        height: 100%;  width: 55%;  right: -100%;  top: 0; 
        position: fixed;  transition: 0.5s ease;  
        &.open {    right: 0;    transition: 0.5s ease;  }
    }